body {
    background-image: url('https://i.ibb.co/0rJYFZC/C8-BADAA7-D114-4-B49-BF74-AE3-B73-B7-CB8-B.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: transparent; /* Fully transparent background */
    padding: 20px;
    border-radius: 10px;
}

.start-button {
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(255, 64, 129, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-button:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 30px rgba(255, 64, 129, 0.7);
}

.start-button:active {
    transform: scale(0.9);
    box-shadow: 0 5px 10px rgba(255, 64, 129, 0.5);
}
